In [1]:
# Dependencies
import pandas as pd

In [2]:
# Set json path
json_path = 'raw_data/purchase_data.json'

In [3]:
# Read json file
heroes_df = pd.read_json(json_path)

heroes_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [4]:
# Checking out the data
heroes_df.describe()

              Age     Item ID       Price
count  780.000000  780.000000  780.000000
mean    22.729487   91.293590    2.931192
std      6.930604   52.707537    1.115780
min      7.000000    0.000000    1.030000
25%     19.000000   44.000000    1.960000
50%     22.000000   91.000000    2.880000
75%     25.000000  135.000000    3.910000
max     45.000000  183.000000    4.950000

In [5]:
# Find number of unique players
players = heroes_df['SN'].unique()
total_players = len(players)
total_players

573

In [6]:
# Look at column names
heroes_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [7]:
# Number of unique items
unique_items = heroes_df['Item Name'].unique()
number_unique_items = len(unique_items)
print(number_unique_items)

# Average purchase price of unique items
avg_price = heroes_df['Price'].mean()
print(avg_price)

# Number of purchases
purchases = len(heroes_df['Price'])
print(purchases)

# Total revenue
revenue = heroes_df['Price'].sum()
print(revenue)

179
2.931192307692303
780
2286.3299999999963

In [11]:
# Create purchasing analysis dataframe
purchase_analysis = {'Number of Unique Items': [number_unique_items], 
                        'Average Price': [f'{avg_price:.2f}'], 
                        'Number of Purchases': [purchases], 
                        'Total Revenue': [f'{revenue:.2f}']}

purchase_analysis_df = pd.DataFrame(purchase_analysis)

purchase_analysis_df = purchase_analysis_df[['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue']]

purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179          2.93                  780       2286.33