In [360]:
# Dependencies
import pandas as pd

In [361]:
# Set json path
json_path = 'raw_data/purchase_data.json'

In [362]:
# Read json file
heroes_df = pd.read_json(json_path)
heroes_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [363]:
# Look at column names
heroes_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [364]:
# Reorginizing columns
heroes_df = heroes_df[['SN', 'Gender', 'Age', 'Item ID', 'Item Name', 'Price']]
heroes_df.head()

,SN,Gender,Age,Item ID,Item Name,Price
0,Aelalis34,Male,38,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,Male,21,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,Male,34,174,Primitive Blade,2.46
3,Pheusrical25,Male,21,92,Final Critic,1.36
4,Aela59,Male,23,63,Stormfury Mace,1.27

In [365]:
# Checking out the data
heroes_df.describe()

              Age     Item ID       Price
count  780.000000  780.000000  780.000000
mean    22.729487   91.293590    2.931192
std      6.930604   52.707537    1.115780
min      7.000000    0.000000    1.030000
25%     19.000000   44.000000    1.960000
50%     22.000000   91.000000    2.880000
75%     25.000000  135.000000    3.910000
max     45.000000  183.000000    4.950000

In [367]:
# Find number of unique players
total_players = len(heroes_df['SN'].unique())
total_players

573

In [369]:
# Number of unique items
number_unique_items = len(heroes_df['Item Name'].unique())
print(number_unique_items)

# Average purchase price of unique items
avg_price = heroes_df['Price'].mean()
print(avg_price)

# Number of purchases
purchases = len(heroes_df['Price'])
print(purchases)

# Total revenue
revenue = heroes_df['Price'].sum()
print(revenue)

179
2.931192307692303
780
2286.3299999999963

In [370]:
# Create purchasing analysis dataframe
purchase_analysis = {'Number of Unique Items': [number_unique_items], 
                        'Average Price': [f'{avg_price:.2f}'], 
                        'Number of Purchases': [purchases], 
                        'Total Revenue': [f'{revenue:.2f}']}

purchase_analysis_df = pd.DataFrame(purchase_analysis)

purchase_analysis_df = purchase_analysis_df[['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue']]

purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179          2.93                  780       2286.33

In [385]:
# can drop duplicates
# or make df of unique players, merge  two dataframes
gender_df = heroes_df[['SN', 'Gender']]
gender_df.describe()

             SN Gender
0     Aelalis34   Male
1        Eolo46   Male
2   Assastnya25   Male
3  Pheusrical25   Male
4        Aela59   Male

In [372]:
# Only grab unique players by dropping duplicates
unique_gender_df = gender_df.drop_duplicates(subset='SN', keep='first')
unique_gender_df.describe()

              SN Gender
count        573    573
unique       573      3
top     Ililsa62   Male
freq           1    465

In [373]:
# Group by gender to see count
grouped_gender = unique_gender_df.groupby('Gender').count()
grouped_gender

                        SN
Gender
Female                 100
Male                   465
Other / Non-Disclosed    8

In [380]:
# Add percentage column, reset index to create dataframe
grouped_gender['Percentage of Players'] = round(grouped_gender['SN']/total_players*100, 2)
grouped_gender_df = grouped_gender.reset_index()
grouped_gender_df

                  Gender   SN  Percentage of Players
0                 Female  100                  17.45
1                   Male  465                  81.15
2  Other / Non-Disclosed    8                   1.40

In [384]:
# Rename SN column and reorganize dataframe
grouped_gender_df = grouped_gender_df.rename(columns={'SN': 'Total Count'})
gender_demo_df = grouped_gender_df[['Gender', 'Percentage of Players', 'Total Count']]

gender_demo_df

                  Gender  Percentage of Players  Total Count
0                 Female                  17.45          100
1                   Male                  81.15          465
2  Other / Non-Disclosed                   1.40            8

In [ ]:
# Purchasing Analysis (Gender)