In [20]:
# Dependencies
import pandas as pd

In [21]:
# Set json path
json_path = 'raw_data/purchase_data.json'

In [22]:
# Open json file
heroes_df = pd.read_json(json_path)

heroes_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [23]:
# Checking out the data
heroes_df.describe()

              Age     Item ID       Price
count  780.000000  780.000000  780.000000
mean    22.729487   91.293590    2.931192
std      6.930604   52.707537    1.115780
min      7.000000    0.000000    1.030000
25%     19.000000   44.000000    1.960000
50%     22.000000   91.000000    2.880000
75%     25.000000  135.000000    3.910000
max     45.000000  183.000000    4.950000

In [26]:
# Find number of players
total_players = len(heroes_df)
total_players

780

In [29]:
# Look at column names
heroes_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [35]:
# Create dataframe of unique items
unique_items_df = heroes_df['Item ID'].unique()
unique_items_df

array([165, 119, 174,  92,  63,  10, 153, 169, 118,  99,  57,  47,  81,
        77,  44,  96, 123,  59,  91, 177,  78,   3,  11, 183,  65, 132,
       106,  49,  45, 155,  37,  48,  90,  13, 171,  25,   7, 124,  68,
        85, 120,  17, 141,  73, 151,  32,  51, 101, 140,  31,  34,   2,
        86,  39,  28, 160, 134,  83,  38, 158, 110, 122,  54, 105,  87,
        23, 144, 128, 175,  46, 150, 152, 108, 172, 167, 181,  20, 130,
       111, 103,  30, 139, 173,  55, 115,  35,  42,   9,  84, 180, 102,
        53,  18,  74, 126,  50,  62, 125, 121, 129, 149,  12,  71,  14,
        58,  27,  52,  66, 100, 112,  24,  94, 107,   0, 182,  97,  70,
        89,   1, 170,  93, 179,  36,  75, 143, 137, 176, 148, 127, 147,
       161, 154, 157, 116,  61, 131,  41, 145,  60, 162, 135,   8,  40,
        15,  29,  72, 114, 117,  79,  88, 104,  95,  64,  98,  33,  76,
       146, 166,  56,  22,  21,  16,  67, 133,  69, 159,  82, 113, 164,
         6, 163,   5,  19, 168, 136,  80,  26, 142, 178, 156, 109,  43,   4], dtype=int64)