In [387]:
# Dependencies
import pandas as pd

In [388]:
# Set json path
json_path = 'raw_data/purchase_data.json'

In [389]:
# Read json file
heroes_df = pd.read_json(json_path)
heroes_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [390]:
# Look at column names
heroes_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [391]:
# Reorginizing columns
heroes_df = heroes_df[['SN', 'Gender', 'Age', 'Item ID', 'Item Name', 'Price']]
heroes_df.head()

,SN,Gender,Age,Item ID,Item Name,Price
0,Aelalis34,Male,38,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,Male,21,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,Male,34,174,Primitive Blade,2.46
3,Pheusrical25,Male,21,92,Final Critic,1.36
4,Aela59,Male,23,63,Stormfury Mace,1.27

In [392]:
# Checking out the data
heroes_df.describe()

              Age     Item ID       Price
count  780.000000  780.000000  780.000000
mean    22.729487   91.293590    2.931192
std      6.930604   52.707537    1.115780
min      7.000000    0.000000    1.030000
25%     19.000000   44.000000    1.960000
50%     22.000000   91.000000    2.880000
75%     25.000000  135.000000    3.910000
max     45.000000  183.000000    4.950000

In [393]:
# Find number of unique players
total_players = len(heroes_df['SN'].unique())
total_players

573

In [394]:
# Number of unique items
number_unique_items = len(heroes_df['Item Name'].unique())
print(number_unique_items)

# Average purchase price of unique items
avg_price = heroes_df['Price'].mean()
print(avg_price)

# Number of purchases
purchases = len(heroes_df['Price'])
print(purchases)

# Total revenue
revenue = heroes_df['Price'].sum()
print(revenue)

179
2.931192307692303
780
2286.3299999999963

In [395]:
# Create purchasing analysis dataframe
purchase_analysis = {'Number of Unique Items': [number_unique_items], 
                        'Average Price': [f'{avg_price:.2f}'], 
                        'Number of Purchases': [purchases], 
                        'Total Revenue': [f'{revenue:.2f}']}

purchase_analysis_df = pd.DataFrame(purchase_analysis)

purchase_analysis_df = purchase_analysis_df[['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue']]

purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179          2.93                  780       2286.33

In [396]:
# can drop duplicates
# or make df of unique players, merge  two dataframes
gender_df = heroes_df[['SN', 'Gender']]
gender_df.describe()

                 SN Gender
count           780    780
unique          573      3
top     Undirrala66   Male
freq              5    633

In [397]:
# Only grab unique players by dropping duplicates
unique_gender_df = gender_df.drop_duplicates(subset='SN', keep='first')
unique_gender_df.describe()

              SN Gender
count        573    573
unique       573      3
top     Ililsa62   Male
freq           1    465

In [398]:
# Group by gender to see count
unique_grouped_gender = unique_gender_df.groupby('Gender').count()
unique_grouped_gender

                        SN
Gender
Female                 100
Male                   465
Other / Non-Disclosed    8

In [399]:
# Add percentage column, reset index to create dataframe
unique_grouped_gender['Percentage of Players'] = round(unique_grouped_gender['SN']/total_players*100, 2)
unique_grouped_gender_df = unique_grouped_gender.reset_index()
unique_grouped_gender_df

                  Gender   SN  Percentage of Players
0                 Female  100                  17.45
1                   Male  465                  81.15
2  Other / Non-Disclosed    8                   1.40

In [400]:
# Rename SN column and reorganize dataframe
unique_grouped_gender_df = unique_grouped_gender_df.rename(columns={'SN': 'Total Count'})
gender_demo_df = unique_grouped_gender_df[['Gender', 'Percentage of Players', 'Total Count']]

gender_demo_df

                  Gender  Percentage of Players  Total Count
0                 Female                  17.45          100
1                   Male                  81.15          465
2  Other / Non-Disclosed                   1.40            8

In [413]:
# Purchasing Analysis (Gender)
gender_indexed = heroes_df.set_index('Gender')
gender_indexed

,SN,Age,Item ID,Item Name,Price
Gender,,,,,
Male,Aelalis34,38,165,Bone Crushing Silver Skewer,3.37
Male,Eolo46,21,119,"Stormbringer, Dark Blade of Ending Misery",2.32
Male,Assastnya25,34,174,Primitive Blade,2.46
Male,Pheusrical25,21,92,Final Critic,1.36
Male,Aela59,23,63,Stormfury Mace,1.27
Male,Tanimnya91,20,10,Sleepwalker,1.73
Male,Undjaskla97,20,153,Mercenary Sabre,4.57
Female,Iathenudil29,29,169,"Interrogator, Blood Blade of the Queen",3.32
Male,Sondenasta63,25,118,"Ghost Reaver, Longsword of Magic",2.77
Male,Hilaerin92,31,99,"Expiration, Warscythe Of Lost Worlds",4.53
Male,Chamosia29,24,57,"Despair, Favor of Due Diligence",3.81
Male,Sally64,20,47,"Alpha, Reach of Ending Hope",1.55
Male,Iskossa88,30,81,Dreamkiss,4.06
Male,Seorithstilis90,23,77,"Piety, Guardian of Riddles",3.68
Male,Sundast29,40,44,Bonecarvin Battle Axe,2.46
Male,Haellysu29,21,96,Blood-Forged Skeletal Spine,4.77
Female,Sundista85,22,123,Twilight's Carver,1.14
Female,Aenarap34,22,59,"Lightning, Etcher of the King",1.65
Male,Iskista88,28,91,Celeste,3.71
Male,Assossa43,31,177,"Winterthorn, Defender of Shifting Worlds",4.89
Male,Irith83,24,78,"Glimmer, Ender of the Moon",2.33
Male,Iaralrgue74,15,3,Phantomlight,1.79
Female,Deural48,11,11,Brimstone,2.52
Male,Chanosia65,19,183,Dragon's Greatsword,2.36
Male,Qarwen67,11,65,Conqueror Adamantite Mace,1.96
Male,Idai61,21,63,Stormfury Mace,1.27
Male,Aerithllora36,29,132,Persuasion,3.90
Male,Assastnya25,34,106,Crying Steel Sickle,2.29
Male,Ilariarin45,15,49,"The Oculus, Token of Lost Worlds",4.23
Female,Phaedai25,16,45,Glinting Glass Edge,2.46
...,...,...,...,...,...
Male,Eollym91,23,86,Stormfury Lantern,1.28
Female,Lisjasksda68,26,179,"Wolf, Promise of the Moonwalker",1.88
Female,Yalostiphos68,15,116,Renewed Skeletal Katana,2.37
Male,Thryallym62,20,4,Bloodlord's Fetish,2.28
Male,Sondastan54,31,104,Gladiator's Glaive,1.36
Female,Ailaesuir66,22,179,"Wolf, Promise of the Moonwalker",1.88
Male,Siasri67,22,6,Rusty Skull,1.20
Male,Seosri62,35,11,Brimstone,2.52
Male,Ryastycal90,20,122,Unending Tyranny,1.21
Male,Chanirrasta87,19,87,"Deluge, Edge of the West",2.20
Male,Aerithllora36,29,81,Dreamkiss,4.06
Male,Raeduerin33,28,175,Woeful Adamantite Claymore,1.24
Male,Lisosiast26,36,52,Hatred,4.39
Other / Non-Disclosed,Eurisuru25,27,48,"Rage, Legacy of the Lone Victor",4.32
Male,Assassasda84,25,70,Hope's End,3.89
Male,Aerithnucal56,15,13,Serenity,1.49
Female,Nitherian58,22,84,Arcane Gem,2.23
Male,Hailaphos89,20,122,Unending Tyranny,1.21
Male,Chamucosda93,21,158,"Darkheart, Butcher of the Champion",3.56
Male,Frichilsasya78,24,73,Ritual Mace,3.74
Male,Aenasu69,22,141,Persuasion,3.27
Male,Lassista97,24,25,Hero Cane,1.03
Male,Sidap51,15,31,Trickster,2.07
Male,Chamadarsda63,21,44,Bonecarvin Battle Axe,2.46
Male,Lassassast73,24,123,Twilight's Carver,1.14
Male,Eural50,22,98,"Deadline, Voice Of Subtlety",3.62
Male,Lirtossa78,14,104,Gladiator's Glaive,1.36
Male,Tillyrin30,20,117,"Heartstriker, Legacy of the Light",4.15
Male,Quelaton80,20,75,Brutality Ivory Warmace,1.72
Female,Alim85,23,107,"Splitter, Foe Of Subtlety",3.61